{namespace Templates.Menu}

/**
 * @param id
 * @param items
 * @param? elementClasses
 */
{template .content}
	<div id="{$id}" class="dropdown {$elementClasses ? $elementClasses : ''}">
		{let $hasItems: length($items) > 0 /}
		<div class="menu-item-content{$hasItems ? '' : ' menu-item-leaf'}">
			{call Templates.MenuItem.header data="all" /}
		</div>
		{if $hasItems}
			<div class="menu-item-submenu">
				{call Templates.MenuItem.body data="all" /}
			</div>
		{/if}
	</div>
{/template}