{namespace Templates.MenuItem}

/**
 * @param id
 * @param disabled
 * @param divider
 * @param header
 * @param submenu
 */
{template .content}
	<li id="{$id}" class="menu-item{$disabled ? ' disabled' : ''}{$divider ? ' divider' : ''}">
		<div class="menu-content">
			{call Templates.Menu.content data="$submenu"}
				{param header: $header /}
				{param disabled: $disabled /}
				{param id: $submenu ? $submenu.id : $id + '-leaf' /}
			{/call}
		</div>
	</li>
{/template}